extends ../../../../../views/layout
block append headcss
    link(type='text/css',href='./Common/web/css/Alarm.css',rel='stylesheet')
block append headjavascript
    script(type='text/javascript',src='./javascripts/UI/Scripts/Highcharts-4.0.3/js/highcharts.js')
    script(type='text/javascript',src='./javascripts/UI/Scripts/Highcharts-4.0.3/js/highcharts-3d.js')
    script(type='text/javascript',src='./javascripts/UI/Scripts/Highcharts-4.0.3/js/modules/exporting.js')
    script(type='text/javascript',src='./javascripts/UI/Scripts/BandexHighCharts.js')
    script(type='text/javascript',src='./javascripts/UI/Scripts/underscore-min.js')
    script(type='text/javascript',src='./Common/web/controller/AlarmController.js')
block content
    .row-fluid
        .span12
            h3.page-title(data-lang='AccountManage')
                | 报警分析
            ul.breadcrumb
                li
                    i.icon-home
                    a(href='/') 主页
                    i.icon-angle-right
                li
                    a(href='javascript:;', data-lang='System') 加工率分析
                    i.icon-angle-right
                li
                    a(href='javascript:;', data-lang='MachineScheduling') 报警分析
    form.form-horizontal(style='padding: 5px 2px 0px; border: 1px solid rgb(238, 238, 238);')
        .row-fluid
            .span
                .control-group(style='margin-bottom: 5px;')
                    label.control-label(data-lang='Common.PASSWORD') 开始时间
                    .BZcontrols
                        input#startTime.m-wrap(type='text', name='startTime')
            .span
                .control-group(style='margin-bottom: 5px;')
                    label.control-label(data-lang='Common.PASSWORD') 结束时间
                    .BZcontrols
                        input#endTime.m-wrap(type='text', name='endTime')
        .row-fluid
            .span
                .control-group(style='margin-bottom: 5px;')
                    label.control-label(data-lang='Common.PASSWORD') 统计方式
                    .BZcontrols
                        input#totalType.m-wrap(type='text', name='totalType')
            div(style='float: left;margin-left:0px;width:350px;')
                .control-group(style='margin-bottom: 5px;')
                    label#groupOrMachine_text.control-label(data-lang='Common.PASSWORD') 设备
                    .BZcontrols
                        input#groupOrMachine.m-wrap(type='text', name='groupOrMachine')
            .span
                .control-group(style='margin-bottom: 5px;')
                    #search.btn.green(style='margin-left: 50px;')
                        | 查询
                        i.icon-search
    #hisChart(style='min-width:700px;height:500px')
    #hisTable.row-fluid(style='margin-bottom: 20px;')
    script#popup-add(type='text/kendo-ui-template').
        <form class="form-horizontal" id="maintainviewmodel" style="width:750px;">
        <div class="control-group">
        <table>
        <tr>
        <td width="600">
        <label class="control-label" data-lang="Common.NAME"><span class="required">*</span>报警原因</label>
        <div class="controls">
        <input type="text" id="MEMO" name="MEMO" class="span6 m-wrap" />
        </div>
        </td>
        </tr>
        </table>
        </div>
        <div class="form-actions">
        <div id="Win_Submit" class="btn green">确定<i class="icon-ok"></i></div>
        <div id="Win_Cancel" class="btn">取消<i class="icon-remove"></i></div>
        </div>
        </form>