extends ../../../../../views/layout
block append headcss
    link(type='text/css',href='./MachineParameters/web/css/HeatTreament.css',rel='stylesheet')
    link(type='text/css',href='./MachineParameters/web/css/jcallout.css',rel='stylesheet')
block append headjavascript
    script(type='text/javascript',src='./javascripts/UI/Scripts/Angular/angular.min.js')
    script(type='text/javascript',src='./javascripts/UI/Scripts/Highcharts-4.0.3/js/highcharts.js')
    script(type='text/javascript',src='./javascripts/UI/Scripts/underscore-min.js')
    script(type='text/javascript',src='./MachineParameters/web/js/T_line.js')
    script(type='text/javascript',src='./MachineParameters/web/controller/heatTreamentController.js')
block content
    .row-fluid
        .span12
            h3.page-title(data-lang='AccountManage')
                | 热处理炉
            ul.breadcrumb
                li
                    i.icon-home
                    a(href='/') 首页
                    i.icon-angle-right
                li
                    a(href='javascript:;', data-lang='System') 过程参数
                    i.icon-angle-right
                li
                    a(href='javascript:;', data-lang='AccountManage') 热处理炉
    .row-fluid(ng-controller='HeatTreamentCtrl')
        #wrap
            #sidebar
                div
                    ul
                        li(ng-repeat='macName in machinesItem' ng-click="dianji(($index))" ng-class='{focus: $index==focus}')
                            i.icon-cogs
                            |  {{macName.GP_NAME}}
            #content
                #grid_one.content_grid(ng-repeat='area in AreaList')
                    span(style='font-size:22px;font-weight:bold;color:red') {{area.Mac_Name}}
                    .grid_content
                        .left
                            table
                                tr
                                    td PV值 
                                    td.td
                                        input.PV_VALUE(type='number', name='name', ng-model='area.machineitems[1].Value')
                                tr
                                    td SV值 
                                    td.td
                                        input.SV_VALUE(type='number', name='name', ng-model='area.machineitems[0].Value')
                                tr
                                    td 热处理批号 
                                    td.td
                                        input.RCLPH(type='text', name='name', value=' ')
                                tr
                                    td 数量 
                                    td.td
                                        input.COUNT(type='number', name='name', value=' ')
                                tr
                                    td 材料 
                                    td.td
                                        input.CAILIAO(type='text', name='name', value=' ')
                        .right(id='right_{{$index}}')
                    .grid_footer
                        button.btn.green.save(style='margin-left:50px;margin-top:10px;' ng-click="saveInfo('一区',1)")
                            | 保存
                            i.icon-ok
                        button.btn.purple.print(style='margin-left: 80px; margin-top:10px; ' ng-click="dayin(1)")
                            | 打印
                            i.icon-edit
                br

    


