extends ../../../../../views/layout
block append headcss
    link(type='text/css',href='./Order/web/css/DefectiveReason.css',rel='stylesheet')
block append headjavascript

    script(type='text/javascript',src='./Order/web/controller/DefectiveReasonController.js')
block content
    .row-fluid
        .span12
            h3.page-title(data-lang='AccountManage')
                | 次品原因
            ul.breadcrumb
                li
                    i.icon-home
                    a(href='/') 主页
                    i.icon-angle-right
                li
                    a(href='javascript:;', data-lang='System') 工单管理
                    i.icon-angle-right
                li
                    a(href='javascript:;', data-lang='AccountManage') 次品原因
    #grid
    script#template(type='text/x-kendo-template').
        <div class="toolbar">
        <button id="error_a" class="btn btn-sm blue">新增<i class="icon-plus-sign"></i></button>
        </div>
    script#add(type='text/x-kendo-template', style='margin-top:-200px;').
        <form class="form-horizontal" id="machineviewmodel" style="width:800px;">
        <table class="control-group" style="margin-left:-20px;">
        <tr style="height:60px">
        <td class="">
        <label class="control-label" data-lang="Common.MEMO">原因编号</label>
        <div class="controls">
        <input type="text" id="INFERIOR_NO" min="0" name="INFERIOR_NO" class="span6 m-wrap" />
        </div>
        </td>
        <td class="">
        <label class="control-label" data-lang="Common.PROG_TYPE">原因名称</label>
        <div class="controls" id="span">
        <input type="text" id="INFERIOR_NAME" min="0" name="INFERIOR_NAME" class="span6 m-wrap" style="width:214px;" />
        </div>
        </td>
        </tr>
        <tr style="margin-top:10px">
        <td class="" colspan="2">
        <label class="control-label" data-lang="Common.PROG_TYPE">备注</label>
        <div class="controls" id="span">
        <textarea cols="2" id="MEMO" style="width:570px"></textarea>
        </div>
        </td>
        </tr>
        </table>
        <div class="form-actions" style="border:0;">
        <div id="Save" class="btn green">确定<i class="icon-ok"></i></div>
        <div id="Win_Cancel" class="btn">取消<i class="icon-remove"></i></div>
        </div>
        </form>
