 block append headcss
     link(type='text/css',href='./javascripts/UI/Scripts/media/css/bootstrap.min.css',rel='stylesheet')
     link(type='text/css',href='./javascripts/UI/Scripts/media/css/bootstrap-datetimepicker.css',rel='stylesheet')
     link(type='text/css',href='./MachineParameters/web/css/HeatTreamentPrint.css',rel='stylesheet')
 block append headjavascript
     script(type='text/javascript',src='./javascripts/UI/Scripts/Angular/angular.min.js')
     script(type='text/javascript',src='./javascripts/UI/Scripts/bootstrap.js')
     script(type='text/javascript',src='./javascripts/UI/Scripts/bootstrap-datetimepicker.js')
     script(type='text/javascript',src='./javascripts/UI/Scripts/Highcharts-4.0.3/js/highcharts.js')
     script(type='text/javascript',src='./MachineParameters/web/controller/heatTreamentPrintController.js')
 block content
     h1 Hello World!

