html
  head
    title cuttools
    link(href="./Cuttools/web/css/cut.css", rel="stylesheet")
  body
    #head
      #title SHIMANO FANUC FOCAS Auto Offset System
      #mode 补正模式
    #attr
      div
        table
          tr
            td 设备名称
            td 加工零件型号名称
          tr
            td NW100 N2
            td SG3R40
          tr 
            td 检查项目
            td 尺寸规格    
          tr
            td 49.42
            td
              div 49.02
              div -0.015
              div -0.135  