html
  head
    title cuttools
    link(href="./Cuttools/web/css/cut.css", rel="stylesheet")
  body(ng-app='X_cut',ng-controller='X_cut_ctrl')
    #head
      #title SHIMANO FANUC FOCAS Auto Offset System
      #mode 补正模式
    #attr
      div(style='width:50%;')
        table(style='width:100%;')
          tr.title
            td 设备名称
            td 加工零件型号名称
          tr
            td#mac_name {{macList[focus_mac].MAC_NAME}}
            td#part_name {{Pro.Product_Model}}
          tr.title
            td 检查项目
            td 尺寸规格    
          tr
            td#cut_content {{Pro.Cutting_Content}}
            td#dime
              div {{Pro.Dime_Nsion}}
              div {{'+'+Pro.Up_Offset}}
              div {{-Pro.Down_Offset}}
       div(style='width:50%;margin-top:40px;')
         table(style='width:100%;')
           tr.title  
              td.measured_val 计测值 
              td 刃物台 
              td 刀具No. 
              td 补正轴
           tr
              td.measured_val {{measured_table[0].SURVEY_VAL}}
              td.nor {{Pro.Turrent | Tr}}
              td.nor {{Pro.Tool_No}}
              td.nor {{Pro.OFFSET_AXIS}}
    #chart
      #chart_draw
        #measured_chart
        #cut_chart
      #chart_memo
        ul
          li UL
          li
            .bush_red
          li UCL
          li
            .bush_yellow
          li Target
          li
            .bush_yellow
          li Center
          li
            .solid_blue
          li LCL
          li
            .bush_yellow
          li LL
          li
            .bush_red
          li#sumcut 累计补正
          li#cutval {{offset_val_sum}}


            
      #chart_table
        table#his_table
          tr
            td no
            td Dimension
          tr(ng-repeat='md in measured_table')
            td {{$index+1}}
            td {{md.SURVEY_VAL}}
          
    
    #foot
      #dimes
        .dime_btn(ng-repeat='b in bun')
            input(type="button" ng-value='b.value' ng-click='change_dime($index)' ng-class='{choose:$index==focus}')
      //- #page 
      //-     img(src='./images/cuttool/arrow_right.png' style='height:42px;' ng-click='getDime()')
    #machine
      #maclist
        .machine_btn(ng-repeat='mac in macList',id='{{mac.MAC_NAME}}')
            input(type="button" ng-value='mac.MAC_NAME' ng-click='change_mac($index)' ng-class='{choose_mac:$index==focus_mac}')
      #page 
        img(src='./images/cuttool/arrow_right.png' style='height:42px;' ng-click='getmac()')
    #cpk
      #cpk_title CPK设定
      #cpk_val {{Pro.CPK}}
    script(src="./javascripts/UI/Scripts/jquery-1.10.2.js")
    script(src="./javascripts/UI/Scripts/Angular/angular.min.js")
    script(src="./javascripts/UI/Scripts/Highcharts-4.0.3/js/highcharts.js")
    script(src="./Cuttools/web/js/X_chart.js")
    script(src="./Cuttools/web/controller/cutController.js")
    script(src='./javascripts/underscore-min.js')
    