extends ../../../../../views/layout
block append headcss
    link(type='text/css',href='./Order/web/css/PlanSurvey.css',rel='stylesheet')
    link(type='text/css',href='./Order/web/css/jcallout.css',rel='stylesheet')
block append headjavascript
    script(type='text/javascript',src='./javascripts/UI/Scripts/Raphael-2.1.2.js')
    script(type='text/javascript',src='./javascripts/UI/Scripts/BandexHighCharts.js')
    script(type='text/javascript',src='./javascripts/UI/Scripts/jcallout.js')
    script(type='text/javascript',src='./Order/web/controller/PlanSurveyController.js')
block content
    .row-fluid
        .span12
            h3.page-title(data-lang='AccountManage')
                | 计划概况
            ul.breadcrumb
                li
                    i.icon-home
                    a(href='/') 主页
                    i.icon-angle-right
                li
                    a(href='javascript:;', data-lang='System') 工单管理
                    i.icon-angle-right
                li
                    a(href='javascript:;', data-lang='MachineScheduling') 计划概况
    .row-fluid
        table(width='100%', cellpadding='0', cellspacing='0')
            tr
                td(valign='top', style='padding-left:5px;')
                    .control-group(style='height: 34px;')
                        .controls
                            .input-icon.left(style='width: 250px; display: inline;')
                                i.icon-search
                                input#filter.m-wrap(type='text', placeholder='订单或生产计划')
                            button#output.btn.green
                                | 查询
                                i.icon-search
        .row-fluid(style='margin-top:5px;')
            #grid
        .row-fluid(style='margin-top:5px;')
            #chart(style='margin: 20px 0px;')
            #display
    script#PLAN_STATE_TEMPLATE(type='x-kendo-template').
        # if ( data.PLAN_STATE ==0) { #
        <div>
        <div style="width: 16px; height: 16px; border-radius: 8px !important; background-color: red; float: left;margin-top:2px"></div>
        <div style="float: left;margin-left:4px">准备</div>
        </div>
        # } else if(data.PLAN_STATE == 1) { #
        <div>
        <div style="width: 16px; height: 16px; border-radius: 8px !important; background-color: greenyellow; float: left; margin-top: 2px; "></div>
        <div style="float: left;margin-left:4px">进行中</div>
        </div>
        # } else if(data.PLAN_STATE == 2) { #
        <div>
        <div style="width: 16px; height: 16px; border-radius: 8px !important; background-color: blue; float: left; margin-top: 2px"></div>
        <div style="float: left;margin-left:4px">完成</div>
        </div>
        # } else if(data.PLAN_STATE==3){ #
        <div>
        <div style="width: 16px; height: 16px; border-radius: 8px !important; background-color: grey; float: left; margin-top: 2px"></div>
        <div style="float: left;margin-left:4px">未知</div>
        </div>
        # } #