  .other {
      display: none;
  }
  
  .employee-details ul {
      list-style: none;
      font-style: italic;
      margin: 15px;
      padding: 0;
  }
  
  .employee-details ul li {
      margin: 0;
      line-height: 1.7em;
  }
  
  .employee-details label {
      display: inline-block;
      width: 90px;
      padding-right: 10px;
      text-align: right;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
  }