//
   Created by qb on 2016/11/24.
extends ../../../../../views/layout
block append headcss
    link(type='text/css',href='./Common/web/css/shift.css',rel='stylesheet')
block append headjavascript
    script(type='text/javascript',src='./Common/web/controller/shiftController.js')
block content
    .row-fluid
        .span12
            h3.page-title(data-lang='AccountManage')
                | 设备排班
            ul.breadcrumb
                li
                    i.icon-home
                    a(href='/') 主页
                    i.icon-angle-right
                li
                    a(href='javascript:;', data-lang='System') 系统
                    i.icon-angle-right
                li
                    a(href='javascript:;', data-lang='MachineScheduling') 班次管理
    .row-fluid
        table(width='100%', cellpadding='0', cellspacing='0')
            tr
                td(style='width: 240px;')
                    .control-group(style='margin-bottom: 0px;')
                        .controls
                            .input-icon.left(style=' display: inline;')
                                i.icon-search
                                input#filter.m-wrap(type='text', placeholder='设备', style='width: 199px;')
                    table.table.table-bordered.table-condensed(style='border-color:#C5C5C5;', cellpadding='0', cellspacing='0', border='0', width='100%', height='100%')
                        tr
                            td.k-header(style='border-color: rgb(197, 197, 197); padding: 6px 7px 5px;')
                                a.k-link(tabindex='-1', href='#', data-lang='Common.USER_NAME') 设备
                                i#tree_expand.icon-sitemap(style=' cursor: pointer; float: right; margin-top: 3px;')
                        tr
                            td(style='border-color: rgb(197, 197, 197); height: 460px; padding: 0px;')
                                div(style='height: 458px; overflow-y: auto; padding-top :5px; padding-left: 4px; padding-bottom: 5px;')
                                    #orgnizetree
                td(valign='top', style='padding-left:5px;')
                    .control-group(style='height: 34px;')
                        .controls(style='text-align:right;')
                            button#function_add.btn.blue
                                | 排班
                                i.icon-calendar
                            button#grid_schedul.btn.green
                                | 班次方案
                                i.icon-tag
                    #resize
                        table.table.table-bordered.table-condensed.gridtreehead(style='border-color: #C5C5C5; margin-bottom: 0px;', cellpadding='0', cellspacing='0', border='0', width='100%', height='100%')
                            tr
                                td#machinePlan.k-header(style='border-color: rgb(197, 197, 197); padding: 6px 7px 5px;') 排班计划
                            tr
                                td(style='border-color: rgb(197, 197, 197); padding: 0px;', colspan='3')
                                    div(style='height: 448px; overflow-y: auto; padding: 10px;')
                                        ul.timeline(style='margin-left: 0px;')
    script#treeview-template(type='text/kendo-ui-template').
        <i class="#:item.icon#"></i>
        <span nodeid="#:item.id#" pid="#:item.PID#" level_nbr="#:item.LEVEL_NBR#" flag="#:item.flag#" attr="treenode">#:item.text#</span>
    script#itemTemplate(type='text/kendo-ui-template').
        <table class="table table-bordered table-condensed1" style="margin-bottom: 0px;">
        <tr>
        <td class="listtd" style="padding: 0px; width: 98px;word-break:break-all; word-wrap: break-word;">#:data.SOLUTION_NAME#</td>
        <td style="padding: 0px;">
        <table border="0" class="shiftdetil">
        # for ( var i=0;i< data.SHIFTS.length;i++) { #
        <tr>
        <td class="listtd" style="padding: 0px; width: 97px; word-break: break-all; word-wrap: break-word;">#:data.SHIFTS[i].SHIFT_NAME#</td>
        <td class="listtd" style="padding: 0px; width: 98px; word-break: break-all; word-wrap: break-word; ">#=moment(data.SHIFTS[i].START_DATE).format("HH:mm")#</td>
        <td class="listtd" style="padding: 0px; width: 98px; word-break: break-all; word-wrap: break-word; ">#=moment(data.SHIFTS[i].END_DATE).format("HH:mm")#</td>
        <td class="listtd" style="padding: 0px; width: 98px; word-break: break-all; word-wrap: break-word; ">#:data.SHIFTS[i].VALID_TIME#</td>
        </tr>
        # } #
        </table>
        </td>
        </tr>
        </table>
    script#popup-add(type='text/kendo-ui-template').
        <form class="form-horizontal" id="viewmodel" style="min-width: 800px; position: relative;">
        <div class="control-group">
        <label class="control-label" data-lang="Common.SOLUTION_NAME"><span class="required">*</span>开始时间</label>
        <div class="controls">
        <input type="text" id="START_DATE" name="START_DATE" data-bind="value:START_DATE" class="span6 m-wrap" style="width: 214px; margin-left: 0px; " />
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" data-lang="Common.SOLUTION_NAME">结束时间</label>
        <div class="controls">
        <input type="text" id="END_DATE" name="END_DATE" data-bind="value:END_DATE" class="span6 m-wrap" style="width: 214px; margin-left: 0px; " />
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" data-lang="Common.SOLUTION_NAME"><span class="required">*</span>方案选择</label>
        <div class="controls">
        <input type="text" id="SOLUTIONS" name="SOLUTIONS" data-bind="value:SOLUTION_NAME" class="span6 m-wrap" style="height:32px; width: 500px; margin-left: 0px;" />
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" data-lang="Common.SEX">类型</label>
        <div class="controls" style="line-height: 32px;">
        <label class="radio" style="margin-top: 0px !important;font-size: 12px;"><input type="radio" name="CYCLE_TYPE" checked value="0" />不循环</label>
        <label class="radio" style="margin-top: 0px !important;font-size: 12px;"><input type="radio" name="CYCLE_TYPE" value="1" />周循环</label>
        <label class="radio" style="margin-top: 0px !important;font-size: 12px;"><input type="radio" name="CYCLE_TYPE" value="2" />月循环</label>
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" data-lang="Common.SEX"></label>
        <div class="controls" style="line-height: 32px;">
        <div id="plangird" style="padding-right: 10px; "></div>
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" data-lang="Common.SOLUTION_NAME"><span class="required">*</span>设备关联</label>
        <div class="controls">
        <label class="checkbox">
        <input type="checkbox" id="relateMachine" value="" style="margin-bottom: 0px;" />
        </label>
        </div>
        <div class="controls"><label class="error_info" id="SHIFT_ERROR"></label> </div>
        </div>
        <div id="machineOrg">
        <div id="machineOrgHead" style="width: 245px; margin-top: 0px; padding-top: 10px; padding-bottom: 10px; padding-left: 5px;font-size:14px;" class="k-window-titlebar k-header">
        请选择关联设备<span style="cursor:pointer;"><i class="icon-angle-right" id="hideMachineOrg" style="float: right; margin-right: 10px; margin-top: -18px;"></i></span>
        </div>
        <div id="machineTree" style="width: 250px; overflow-y: auto; margin-top: 37px; "></div>
        </div>
        <div class="form-actions">
        <div id="Add" class="btn green">确定<i class="icon-ok"></i></div>
        <button id="Win_Cancel" class="btn">取消<i class="icon-remove"></i></button>
        </div>
        </form>
