extends ../../../../../views/layout
block append headcss
    link(type='text/css',href='./Maintain/web/css/FaultCause.css',rel='stylesheet')
block append headjavascript
    script(type='text/javascript',src='./javascripts/UI/Scripts/Highcharts-4.0.3/js/highcharts.js')
    script(type='text/javascript',src='./javascripts/UI/Scripts/Highcharts-4.0.3/js/highcharts-3d.js')
    script(type='text/javascript',src='./javascripts/UI/Scripts/Highcharts-4.0.3/js/modules/exporting.js')
    script(type='text/javascript',src='./javascripts/UI/Scripts/BandexHighCharts.js')  
    script(type='text/javascript',src='./Maintain/web/controller/faultCause.js')
block content
    .row-fluid
        .span12
            h3.page-title(data-lang='AccountManage')
                | 故障原因
            ul.breadcrumb
                li
                    i.icon-home
                    a(href='/') 主页 
                    i.icon-angle-right
                li
                    a(href='javascript:;', data-lang='System') Tpm图表分析
                    i.icon-angle-right
                li
                    a(href='javascript:;', data-lang='MachineScheduling') 故障原因
    form.form-horizontal(style='padding: 5px 2px 0px; border: 1px solid rgb(238, 238, 238);')
        .row-fluid
            .span
                .control-group(style='margin-bottom: 5px;')
                    label.control-label(data-lang='Common.PASSWORD') 起始时间
                    .BZcontrols
                        input#startTime.m-wrap(type='text', name='startTime')
            .span
                .control-group(style='margin-bottom: 5px;')
                    label.control-label(data-lang='Common.PASSWORD') 结束时间
                    .BZcontrols
                        input#endTime.m-wrap(type='text', name='endTime')
        .row-fluid
            .span
                .control-group(style='margin-bottom: 5px;')
                    label.control-label(data-lang='Common.PASSWORD') 查询类型
                    .BZcontrols(style='line-height: 32px;')
                        label.radio(style='margin-top: 0px !important;font-size: 12px;')
                            input(type='radio', name='searchType', checked='', value='1')
                            | 设备
                        label.radio(style='margin-top: 0px !important;font-size: 12px;')
                            input(type='radio', name='searchType', value='2')
                            | 设备组
            .span
                .control-group(style='margin-bottom: 5px;')
                    label.control-label(data-lang='Common.PASSWORD') 统计方式
                    .BZcontrols
                        input#totalType.m-wrap(type='text', name='totalType')
            div(style='float: left;margin-left:0px;width:350px;')
                .control-group(style='margin-bottom: 5px;')
                    label#groupOrMachine_text.control-label(data-lang='Common.PASSWORD') 设备
                    .BZcontrols
                        input#groupOrMachine.m-wrap(type='text', name='groupOrMachine')
            .span
                .control-group(style='margin-bottom: 5px;')
                    #search.btn.green(style='margin-left: 50px;')
                        | 查询
                        i.icon-search
    #pie(style='min-width: 700px; margin-top: 5px;')
