doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title
        block headcss
            link(href='./EmployeePerformance/web/css/bootstrap.min.css', rel='stylesheet',type='text/css')
            link(type='text/css',href='./EmployeePerformance/web/css/Bandex.css',rel='stylesheet')
            link(type='text/css',href='./EmployeePerformance/web/css/kendo.common.min.css',rel='stylesheet')
            link(type='text/css',href='./EmployeePerformance/web/css/kendo.default.min.css',rel='stylesheet')
    body(style="font-family: Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif !important;padding: 20px !important;")
        div(ng-app='app', ng-controller='appCtrl')
            label(style='font-size:18px;') [产量分析]
            #grid
block headjavascript
    script(src='./EmployeePerformance/web/javascripts/jquery-1.10.2.min.js')
    script(src='./EmployeePerformance/web/javascripts/jquery-ui-1.10.1.custom.min.js')
    script(src='./EmployeePerformance/web/javascripts/kendo.web.min.js')
    script(src='./EmployeePerformance/web/javascripts/kendo.culture.zh-CN.min.js')
    script(type='text/javascript').
        var lang = !{JSON.stringify(lang)};
    script(src='./EmployeePerformance/web/javascripts/Bandex.js')
    script(src='./EmployeePerformance/web/javascripts/angular.min.js')
    script(src='./EmployeePerformance/web/javascripts/moment.js')
    script(src='./EmployeePerformance/web/javascripts/underscore-min.js')
    script(type='text/javascript',src='./EmployeePerformance/web/controller/OutPutIndexYield.js')