body {
    background-color: #293c55;
}

#head>div {
    display: inline;
}

table tr {
    height: 30px;
}

td {
    text-align: center;
}

#title {
    background-color: #63cb39;
    color: #2654f9;
    font: bold 1em "宋体", Arial, Times;
    font-size: 30px;
    height: 40px;
}

#mode {
    color: #df8bc6;
    font-size: 30px;
    margin-left: 20px;
}

.title {
    color: #B5E1CB;
    font: bold 1em "宋体", Arial, Times;
    font-size: 25px;
}

#attr {
    margin-top: 10px;
}

#attr>div {
    float: left;
}

#mac_name {
    color: #df8bc6;
    font-size: 30px;
}

#part_name {
    color: #F69797;
    font-size: 25px;
}

#cut_content,
#dime {
    color: #FCDDDD;
    font-size: 25px;
}

.measured_val {
    color: #FDFD8A;
    font-size: 40px;
}

.nor {
    font-size: 30px;
    color: #B5E1CB;
}