extends ../../../../../views/layout
append headcss
    style(type='text/css').
     .chart1 > div {
          float: left;
        }
     .chart2 > div {
          margin-bottom: 10px;
        }
     .chart3 > div {
          float: left;
        }
     .chart1_flagLabel {
            color: #ffffff;
            font-size: 20px;
            margin-bottom: 10px;
            padding-right: 30px;
            text-align: center;
        }
     .chart2_flagLabel {
            color: #ffffff;
            font-size: 20px;
            margin-bottom: 10px;
        }
     .chart4_flagLabel {
            font-size: 16px;
            float: left;
            width: 100px;
            text-align: right;
            line-height: 30px;
        }
     .chart4_value {
            border: 1px solid rgb(255, 255, 255);
            width: 200px;
            height: 30px;
            border-radius: 3px !important;
            color: rgb(7, 247, 235);
            font-size: 16px;
            line-height: 30px;
            margin-left: 110px;
            padding-left: 10px;
            padding-right: 10px;
         }
      #play{
        margin-bottom:10px;
      }
block content
 .row-fluid
   .span12
     h3.page-title(data-lang='AccountManage')
       | 实时监控
     ul.breadcrumb
       li
         i.icon-home
         a(href='/') 主页
         i.icon-angle-right
       li
         a(href='javascript:;', data-lang='System') 系统
         i.icon-angle-right
       li
         a(href='javascript:;', data-lang='AccountManage') 实时监控
 #play
    #divPlugin.plugin
 .row-fluid
  .span12
    .span12(style='background-color: rgb(0, 0, 0); margin-bottom: 20px; padding-bottom:20px;')
      div(style='color: rgb(255, 255, 255); text-align: center; height: 30px; line-height: 30px; margin-top: 20px;')
        span#MAC_NAME(style='font-size: 30px;') -- --
        span#MAC_NO(style='font-size: 20px;')  NO:-- --
      .chart1(style='display: table; padding-left: 50px; padding-top: 20px; float: left; ')
      .chart2(style='display: table; padding-left: 50px; float: left; margin-top: 20px; height: 295px;')
      .chart4(style='display: table; color: rgb(255, 255, 255); padding: 20px 0px 0px 50px;float:left;')
      .chart3(style='display: table; color: rgb(255, 255, 255); padding: 20px 0px 0px 50px;')
      .chart5(style='display: table; width:100%;')
        #curves
append headjavascript 
    script(src='./javascripts/UI/Scripts/Raphael-2.1.2.js', type='text/javascript')
    script(src='./javascripts/UI/Scripts/BandexCharts.js', type='text/javascript')
    script(src='./javascripts/UI/Scripts/ParameterTable.js', type='text/javascript')
    script(src='./javascripts/UI/Scripts/Highcharts-4.0.3/js/highcharts.js', type='text/javascript')
    script(type='text/javascript',src='./MachineParameters/web/controller/diagnosisdetailController.js')
    script(src='./javascripts/webVideoCtrl.js', type='text/javascript')
    //- script(src='./javascripts/demo-easy.js', type='text/javascript')

