extends ../../../../../views/layout
append headcss
  style(type='text/css').
    .machineLabel {
      width: 200px;
      border-radius: 5px !important;
      border: 2px solid;
      display: inline-table;
      margin: 0px 20px 20px 0px;
    }
    .machineLabel1 {
      border-bottom: 1px solid;
      /*background-color: ;*/
      height: 52px;
    }
    .machineImage {
      width: 60px;
      height: 45px;
      margin-left: 3px;
      border-radius: 3px !important;
      float: left;
      margin-top: 3px;
    }
    .machineName {
      color: rgb(255, 255, 255);
      margin-left: 70px;
      padding-top: 7px;
    }
    .machineName p:first-child {
      font-size: 20px;
      margin-bottom: 4px;
    }
    .machineName p:last-child {
      font-size: 14px;
      margin-bottom: 0px;
      margin-left: 1px;
    }
    .machinePars {
      height: 30px;
      border-bottom: 1px dashed rgb(206, 206, 206);
      display: table;
      width: 100%;
    }
    .machinePars label {
      width: 80px;
      float: left;
      text-align: right;
      margin-bottom: 0px;
      margin-top: 6px;
    }
    .machinePars div {
      margin-left: 85px;
      margin-top: 6px;
    }
    .machineView {
      margin-left: 180px;
      font-size: 16px;
      margin-top: 2px;
      padding-top: 0px;
    }
    #wrap {
      overflow: hidden;
      *zoom: 1;
    }
    #sidebar {
      float: left;
      width: 300px;
    }
    #content {
     margin-left: 305px;
    }
    .k-pager-wrap {
     clear: none !important;
    }

block content
 .row-fluid
  .span12
    h3.page-title(data-lang='AccountManage')
      | #{lang.MachineParameters.AssistDiagnosis}
    ul.breadcrumb
      li
        i.icon-home
        a(href='/') #{lang.EmployeePerformance.Home}
        i.icon-angle-right
      li
        a(href='javascript:;', data-lang='AccountManage') #{lang.MachineParameters.AssistDiagnosis}
 .row-fluid(ng-controller='appCtrl')
  #wrap
    #sidebar
      #orgnizetree
    #content
      #grid
        .machineLabel(ng-repeat='item in items', ng-style="{'border-color':item.color}")
          .machineLabel1(ng-style="{'border-color':item.color,'background-color':item.color}")
            img.machineImage(ng-src='{{item.photo}}')
            .machineName
              p
                | {{item.MAC_NAME.length > 6 ? (item.MAC_NAME.substring(0,5)+"..."):item.MAC_NAME}}
              p
                | NO:
                span {{item.MAC_NO}}
          .machinePars
            label 设备名称:
            div {{item.MAC_NAME}}
          div(ng-repeat='par in item.pars')
            .machinePars
              label {{par.NAME}}:
              div {{par.VALUE + " " + par.UNIT}}
          .machineView
            i.icon-circle-arrow-right(ng-click='showDetail($index)')

 append headjavascript 
    script(type='text/javascript',src='./MachineParameters/web/controller/diagnosissController.js')    
    script#treeview-template(type='text/kendo-ui-template').
      <i class="#:item.icon#"></i>
      <span nodeid="#:item.id#" pid="#:item.PID#" level_nbr="#:item.LEVEL_NBR#" attr="treenode">#:item.text#</span>
